@{
    ViewBag.Title = "Home Page";
}
<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Логин</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.Users as IEnumerable<DomainModels.Models.User>)
            {
            <tr>
                <td></td>
                <td>@user.Id</td>
                <td>@Html.ActionLink(user.FIO, "Find", new { user.Id })</td>
                <td>@user.Login</td>
                <th>@Html.ActionLink("Удалить", "Delete", new { user.Id })</th>
            </tr>
        }
    </tbody>
</table>

